---
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";

const newsItems = await getCollection("news");
newsItems.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
);
---

<Base title="News">
  <div class="container">
    <h2><span>News</span></h2>
    <p class="code">The third digit of the code is 3</p>
    <ul>
      {
        newsItems.map((item) => (
          <li>
            <article>
              <h3>{item.data.title}</h3>
              <time datetime={item.data.date}>
                {new Date(item.data.date).toDateString()}
              </time>
              <div class="md">
                <Content content={item} />
              </div>
            </article>
          </li>
        ))
      }
    </ul>
  </div>
</Base>

<style>
  ul > li:not(:last-child) {
    border-bottom: solid grey 1px;
    padding-bottom: var(--sp-l);
    margin-bottom: var(--sp-xl);
  }

  h3 {
    margin-bottom: var(--sp-2xs);
  }

  time {
    display: block;
    margin-bottom: var(--sp-l);
  }
</style>
